<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    

</head>
<body>
    
    


    <div class="main">
        <div class="form-box">
         <div class="button-box">
             <div class="btn"></div>
             {{!-- <button type="button" class="toggle-btn">Login</button>
             <button type="button" class="toggle-btn">Register</button> --}}
            <h3 class="toggle-btn">Login</h3>

            </div>

        <form action="/login" method="POST" class="input-group" id="login">
            <input type="text" name="email" class="input-field" placeholder="Email" required>
            <input type="password" name="password" class="input-field" placeholder="Enter Password" required>
            {{!-- <button type="submit" class="submit-btn">Login</button> --}}
            <input type="submit" class = "login-btn" name="Register">
            <span>or</span>

            <a href="/register" class="login-btn">Register Here</a>
            <a href="/" class="login-btn">Back to Home Page</a>
        
        </form>
            

        </div>
        
    </div>




</body>
</html>